.ant-modal-confirm-body .ant-modal-confirm-title,
.ant-modal-close-x {
  font-size: @subtitle-font-size;
}

.ant-modal-confirm-btns .ant-btn {
  height: 50px;

  span {
    font-size: @subtitle-font-size;
    line-height: 100%;
  }
}
