ck-details-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ck-details-page-header-back,
  .ck-details-page-header-refresh {
    cursor: pointer;
    font-size: @regular-font-size;
    line-height: 100%;
    height: 40px;

    &:hover {
      color: @primary-color;
    }
  }
}
